<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<!-- Created by Artisteer v4.1.0.59861 -->
		<meta charset="utf-8" />
		<title>Descargar archivos</title>
		<meta
			name="viewport"
			content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width"
		/>

		<!--[if lt IE 9
			]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script
		><![endif]-->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css') }}"
			media="screen"
		/>
		<!--[if lte IE 7
			]><link
				rel="stylesheet"
				href="{{ url_for('static', filename='css/style.ie7.css') }}"
				media="screen"
		/><![endif]-->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.responsive.css') }}"
			media="all"
		/>

		<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/script.responsive.js') }}"></script>
	</head>
	<body>
		<div id="art-main">
			<div class="art-sheet clearfix">
				<div class="art-layout-wrapper clearfix">
					<div class="art-content-layout">
						<div class="art-content-layout-row">
							<div class="art-layout-cell art-content clearfix">
								<article class="art-post art-article">
									<div class="art-postmetadataheader">
										<h2 class="art-postheader">Descargar archivos</h2>
									</div>
									<div class="art-postcontent art-postcontent-0 clearfix">
										<div class="art-content-layout">
											<div class="art-content-layout-row">
												<div class="art-layout-cell" style="width: 100%">
													<table class="art-article" style="width: 100%; ">
														<tbody>
															<tr>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 16%; "><br /></td>
																<td style="width: 16%; "><br /></td>
															</tr>
															<tr>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 16%; "><br /></td>
																<td style="width: 16%; "><br /></td>
															</tr>
															<tr>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 16%; "><br /></td>
																<td style="width: 16%; "><br /></td>
															</tr>
															<tr>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 16%; "><br /></td>
																<td style="width: 16%; "><br /></td>
															</tr>
															<tr>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 16%; "><br /></td>
																<td style="width: 16%; "><br /></td>
															</tr>
															<tr>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 16%; "><br /></td>
																<td style="width: 16%; "><br /></td>
															</tr>
															<tr>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 16%; "><br /></td>
																<td style="width: 16%; "><br /></td>
															</tr>
															<tr>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 17%; "><br /></td>
																<td style="width: 16%; "><br /></td>
																<td style="width: 16%; "><br /></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="art-content-layout">
											<div class="art-content-layout-row">
												<div class="art-layout-cell" style="width: 100%">
													<p style="text-align: center;">
														&nbsp;<a
															href="Javascript:void(0)"
															class="art-button"
															>Decargar</a
														>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
														&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a
															href="/"
															class="art-button"
															>Inicio</a
														>&nbsp;<br />
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="art-comments clearfix"></div>
								</article>
							</div>
						</div>
					</div>
				</div>
				<footer class="art-footer clearfix"></footer>
			</div>
			<p class="art-page-footer">&nbsp;</p>
		</div>
	</body>
</html>
